---
import { Markup } from "astro-remote"; 
import WPImage from "./WPImage.astro";
import WPCodeBlock from "./WPCodeBlock.astro";
import WPH2 from "./WPH2.astro";

const { blocks } = Astro.props;
---

<div>Block Renderer Component</div>

{ blocks.map(block => {
  if(block.name === 'kevinbatdorf/code-block-pro'){
    return <WPCodeBlock attributes={block.attributes} renderedHtml={block.renderedHtml} />
  }
  else {
    return <div>
      <Markup 
        content={block.renderedHtml} 
        components={{ 
          img: WPImage
        }}
      />
    </div>
  } 
})}

<style is:global>
  @reference "tailwindcss/theme.css";

  h2.wp-block-heading {
    @apply text-2xl;
  }

  h3.wp-block-heading {
    @apply text-xl;
  }
  
</style>
