---
import { Markup, Markdown } from "astro-remote";
import { Code } from "astro:components";
const { attributes, renderedHtml } = Astro.props;

const code = `const myVar = 'some var';

function myFunction(){
  return myResult;
} 
`
---

<div class="my-code-block space-y-5">
  <div>
    <span>rendered markdown:</span>
    <Markdown content={attributes.code} />
  </div>
  <div>
    <span>language:</span>  
    <span>{ attributes.language }</span>
  </div> 

  <div>
    <span>renderedHTML code:</span>
    
    <button class="hover:text-blue-300 cursor-pointer" type="button">copy code</button>
    <Markup content={renderedHtml} />
  </div>

  <div>
    <span>astro code block:</span>
    
    
    <div class="relative">
      <button class="text-blue-200 hover:text-blue-300 cursor-pointer absolute right-2" type="button">copy code</button>
      <Code class="p-4 rounded-lg" code={attributes.code} lang={attributes.language} theme="catppuccin-frappe"/>
    </div>
  </div>
  
  
</div>
